{% extends "barbershop/base.html" %}
{% load static %}

{% block content %}
<div class="services-page signup-page">

    <h1 class="services-title mt-1 mb-1 text-center">Book Now</h1>
    <div class="services-contain col-xs-10 col-sm-10 col-md-6 d-flex">

        <div class="pb-5 services-block" id="services-content">
            <p>To make a reservation, please <a href="/accounts/login/">login</a>.</p>
            <p>If you have not created an account yet, then please <a href="/accounts/signup/">sign up.</a></p>
        </div>
    </div>
</div>
{% endblock %}

