{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="booknow-page">
    <div class="left-0 text-center p-5">
        <h2 class="bookings-title mb-4">Book your appointment</h2>
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-8 mt-3">

                <form method="POST" action="{% url 'booknow' %}" name="form">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="intro-button mx-auto"><button class="btn btn-login" type="submit">Submit
                            Booking</button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="booknow-contain col-xs-10 col-sm-10 col-md-6 d-flex">

                <div class="pb-5 booknow-block">
                    <p>To make a reservation, please <a href="/accounts/login/">login</a></p>
                    <p>If you have not created an account yet, then please <a href="/accounts/signup/">sign up</a></p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

